.friendGroupContainer {
	margin: 10px auto;
}

.friendGroup {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
}

.friendGroup .friendGroupItem {
	display: flex;
	align-items: center;
	border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    width: calc(50% - 4px);
    margin: 0.3rem 0;
}

.usersListBody {
	display: flex;
	flex: 1;
	justify-content: space-between;
	align-items: center;
}

.btnCustom {
	display: inline-block;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	background-color: #e6e6e6;
	border: 1px solid #e6e6e6;
	padding: 0.375rem 0.75rem;
    font-size: 14px;
    font-weight: bold;
	line-height: 1.25;
	border-radius: 0.5rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btnCustom:hover {
    background-color: #c8c8c8;
    border-color: #c8c8c8;
}

.userInfo {
	flex-grow: 1;
}

.userInfo .userInfoName {
	font-weight: bold;
	word-break: break-all;
}
.userInfo small {
    text-transform: capitalize;
}

.avatar {
	width: 5rem;
	height: 5rem;
	overflow: hidden;
	border-radius: 4px;
	margin-right: 10px;
	margin-bottom: 0;
}
.roundedSquare {
	max-width: 100%;
	height: 100%;
}
